:root{
    --page-max-width: 24.375rem;
    --page-max-heidth: 52.75rem;
    --padding-bottom-default: 1.4rem;
    --primary-font-family: roboto sans;
}

html{
    margin: 0;
    font-size: 8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ECE5DD;
}

button:hover {
    cursor: pointer;

    box-shadow: 0 4px 4px black;
}

.l-header {
    width: 100%;
    height: 10rem;
    background-color: #E0D0C1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.l-header h1 {
    width: 15rem;
    height: 4.7rem;
    font-size: 4rem;
    margin: 0;
    padding: 0;
    padding-top: var(--padding-bottom-default);
}


.l-main {
    width: 100%;
    height: 64.4rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 35rem;
    height: 58rem;

    background-color: #7CD0B8;
    border: 1px solid;
    border-radius: 10px;
    border-color: #7CD0B8;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wrapper input {
    width: 22.387rem;
    height: 4.571rem;
    margin-bottom: 3.6rem;
    
    border: 1px solid;
    border-radius: 5px;
    border-color: #fff;

    box-shadow: 0 4px 4px black;
    background-color: #F7F9F9;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper-btn button {
    width: 11.193rem;
    height: 11.429rem;
    margin-top: 1.6rem;
    margin-bottom: 3.6rem;
    margin-left: 1rem;
    margin-right: 1rem;

    background-color: #F7F9F9;
    border-color: #fff;
    border-radius: 5px;
    font-size: 4rem;
}

.wrapper label {
    font-size: 3rem;
    font-weight: bold;
}

.btn-converter {
    width: 20rem;
    height: 6rem;
    margin-top: 2rem;
    margin-bottom: 3.6rem;

    font-size: 2rem;
    font-weight: bold;
    background-color: #D9EFE9;

    border: 1px solid;
    border-radius: 5px;
    border-color: #D9EFE9;
}


/* 
main {
    max-width: 400px;
    height: 200px;
    margin: 10px 0;
    padding: 15px;
     display: flex;
    align-items: center; 
    justify-content: center;
    background-color: aquamarine;

}

.form {
    padding-top: 30px;
    width: 350px;
    height: 170px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
}

label {
    width: 250px;
    height: 30px;
    margin-bottom: 30px;
}

.form button {
    width: 80px;
    height: 30px;
    margin-bottom: 30px;
    color: black;
    background-color: blanchedalmond;
    border-color: blanchedalmond;
    cursor: pointer;
    font-weight: 700;
} */

.form button:hover {
    /* background-color: cadetblue;
    border-color: cadetblue; */
    
    /* transform: rotate(360deg);
    transition: 1s; */
}
/* 

.error {
    font-style: italic;
    font-weight: 300;
    color: tomato;
    font-weight: 400;
}
.mensagem.error{
    display: none;
    font-size: small;
}

.mensagem.error.on {
    display: block;
} */

.l-footer{
    width: 100%;
    height: 10rem;
    background-color: #00A676;

    display: flex;
    align-items: center;
    justify-content: center;
}

.l-footer h1{
    width: 22.9rem;
    height: 4.7rem;
    font-size: 4rem;
    color: #fff;    
    text-shadow: 0 4px 4px black;
    opacity: 95%;
}